:root {
  --main-BG-color: #e5e5e5;
  --main-text-color: #757575;
  --main-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --hero-btn-color: #188ce8;
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --accent: #2196f3;
  --max-margin: 50px;
  --min-margin: 10px;
  --average-margin: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*------------------------- HEADER ---------------------------------------------------------------------------------------------------------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-all {
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.logo-text {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent);
}

.header-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
  position: relative;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.current {
  color: var(--accent);
}

.header-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.header-address:hover,
.header-address:focus {
  color: var(--accent);
}

.icon-smartphone,
.icon-envelope {
  fill: currentColor;
}

/*------------------------- INDEX HERO ------------------------------------------------------------------------------------------------------------------------------*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herobg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: var(--average-margin);
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  color: var(--main-tittle-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--main-btn-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-color);
}

/*------------------------- INDEX ADVANTAGES ------------------------------------------------------------------------------------------------------------------------------*/
.advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  width: 270px;
  text-align: left;
}
.advantages-item:not(:first-child) {
  margin-left: var(--average-margin-margin);
}
.advantages-icon {
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px, 100px;
  margin-bottom: var(--average-margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-subtittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-tittle-color);
  margin-bottom: var(--min-margin);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*------------------------- INDEX JOB ------------------------------------------------------------------------------------------------------------------------------*/
.job {
  padding-top: 47px;
  padding-bottom: 94px;
}
.job-tittle {
  margin-bottom: var(--max-margin);
}
.job-list {
  display: flex;
  margin-left: -30px;
}
.job-item {
  width: calc(100% / 3 - 30px);
  margin-left: var(--average-margin);
  position: relative;
}
.job-subtitle {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-tittle-color);
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*------------------------- INDEX TEAM ------------------------------------------------------------------------------------------------------------------------------*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-tittle {
  margin-bottom: var(--max-margin);
}
.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  min-width: 270px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:first-child) {
  margin-left: var(--average-margin);
}
.team-subtittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-tittle-color);

  margin-bottom: var(--min-margin);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.soc-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-item {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soc-item:not(:last-child) {
  margin-right: var(--min-margin);
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}
.soc-link:hover,
.soc-link:focus {
  color: #ffffff;
  background-color: var(--accent);
}

.icon-instagram {
  fill: currentColor;
}
.icon-twitter {
  fill: currentColor;
}
.icon-facebook {
  fill: currentColor;
}
.icon-linkedin {
  fill: currentColor;
}
/*-------------------------  CLIENTS ------------------------------------------------------------------------------------------------------------------------------*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-tittle {
  margin-bottom: var(--max-margin);
}

.clients-list {
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  color: #afb1b8;
  width: calc(100% / 6 - 30px);
  height: 92px;
  margin-left: var(--average-margin);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-link {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent);
  border: 1px solid var(--accent);
}
.clients-icon-Fgroup {
  fill: currentColor;
}
.clients-icon-Sgroup {
  fill: currentColor;
}
.clients-icon-Tgroup {
  fill: currentColor;
}
.clients-icon-Fogroup {
  fill: currentColor;
}
.clients-icon-Figroup {
  fill: currentColor;
}
.clients-icon-Sigroup {
  fill: currentColor;
}

/*-------------------------  FOOTER ------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.adress {
  margin-right: 70px;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-address {
  margin-top: 20px;
}
.footer-item {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}
.footer-link {
  color: #ffffff;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-link:hover,
.footer-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent);
}
.social {
  margin-right: 93px;
}
.social-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-tittle-color);
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: var(--min-margin);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent);
}

.icon-instagram {
  fill: currentColor;
}
.icon-twitter {
  fill: currentColor;
}
.icon-facebook {
  fill: currentColor;
}
.icon-linkedin {
  fill: currentColor;
}
.fotter-form {
  margin-right: auto;
}
.footer-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-tittle-color);
}

.footer-mail-form {
  display: flex;
}
.footer-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}
.footer-input:focus,
.footer-input:hover {
  border: 1px solid var(--accent);
}

.footer-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  padding-left: 29px;
  color: #ffffff;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--hero-btn-color);
}

.icon-send {
  position: absolute;
  right: 28px;
  margin-left: 10px;

}
/* -------------------------------MODAL------------------------------------------------------------ */
.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-90%, 90%) scale(0) rotate(-360deg);
  opacity: 0.2;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}

.modal-btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}
.icon-close {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-btn:hover .icon-close,
.modal-btn:focus .icon-close {
  fill: var(--accent);
}
.modal-title {
  font-style: normal;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-name,
.modal-tel,
.modal-mail {
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
  color: rgba(117, 117, 117, 0.5);
}

.modal-name:focus,
.modal-name:hover,
.modal-tel:focus,
.modal-tel:hover,
.modal-mail:focus,
.modal-mail:hover {
  border: 1px solid var(--accent);
}

.label-name,
.label-tel,
.label-mail {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.name-field {
  position: relative;
}

.icon-person {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.tel-field {
  position: relative;
}

.icon-modalphone {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.mail-field {
  position: relative;
}

.icon-modalemail {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-name:focus + .icon-person,
.modal-name:hover + .icon-person,
.modal-tel:focus + .icon-modalphone,
.modal-tel:hover + .icon-modalphone,
.modal-mail:focus + .icon-modalphone,
.modal-mail:hover + .icon-modalphone {
  fill: var(--accent);
}
.modal-text {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.label-text {
  width: 100%;
  font-style: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.area-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.area-text:hover,
.area-text:focus {
  border: 1px solid #2196f3;
}
.checkbox-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.check-input {
  position: absolute;
  top: 0;
  left: 0;
}
.check-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.checkbox-span {
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid #212121;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.check-icon {
  width: 100%;
  height: 100%;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.check-input:focus + .check-text span,
.check-input:hover + .check-text span {
  border-color: var(--accent);
}

.check-input:checked + .check-text span {
  background-color: var(--accent);
  border: none;
}
.check-input:checked + .check-text .check-icon {
  fill: #ffffff;
}

.checkbox-link {
  display: inline;
  margin-left: 1px;
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
}
.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  border-color: transparent;
  color: #ffffff;
  background-color: var(--main-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.send-btn:hover,
.send-btn:focus {
  background-color: var(--hero-btn-color);
}
/*-------------------------  PORTFOLIO HTML ------------------------------------------------------------------------------------------------------------------------------*/
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.works-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.works-items:not(:first-child) {
  margin-left: 8px;
}
.works-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: var(--second-tittle-color);
  background-color: var(--second-btn-color);
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.works-btn:hover,
.works-btn:focus {
  color: #ffffff;
  background-color: var(--main-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.works-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.works-item {
  max-width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  border-bottom: 1px solid #eeeeee;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.works-item:nth-first-child(-n + 3) {
  margin-top: 0;
}

.works-link {
  width: 100%;
}
.works-link:hover .works-top-text,
.works-link:focus .works-top-text {
  transform: translateY(0);
}

.works-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.works-info {
  padding: 20px 24px;
}
.works-subtittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
