.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;

}
.header__conteiner {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
  position: relative;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent);
}
.current {
  color: var(--accent);
}

.nav__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
}

.nav__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.nav__address:hover,
.nav__address:focus {
  color: var(--accent);
}

.icon__smartphone,
.icon__envelope {
  fill: currentColor;
}