:root {
  --main-BG-color: #e5e5e5;
  --main-text-color: #757575;
  --main-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --hero-btn-color: #188ce8;
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --accent: #2196f3;
  --max-margin: 50px;
  --min-margin: 10px;
  --average-margin: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}